# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
ENV/

# macOS
.DS_Store

# IDEs/editors
.idea/
.vscode/
*.iml

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Databases
*.db

# Local config
.env

